.form-input {
  width: 100%;
}

.form-input-size {
  display: block;
  background-color: white;
  border: 1px solid $primary-light;
  border-radius: 10px;
  width: 80%;
  padding: 10px 20px;
  margin-top: 20px;
  outline: none;
}

.form-input-select {
  width: 90%;
}